@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");

:root{
  --max-width-input:20rem;
}
/*iniciando con estilos personales*/
#contenedor404{
  position: absolute;
}
.contCompras,.contProduct{
  height: 100vh;
}
.footerCompras{
    position: absolute;
    bottom: 0px;
}
.calcCompra{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.times{
  font-size: 1.5rem;
}
#cajaList .row{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
#cajaList{
    overflow-y: scroll;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}
#cajaImg img{
  min-width: 220px;
  height: 200px;
  margin-left: 15px;
}
#cajaImg{
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#miCar,#cajTotal,#cajElim{
  display: flex;
  align-items: center;
}
#cajElim{
  cursor: pointer;
}
#info,.calcCompra{
  width: 25%;
}
#Bienvenida{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  font-size: 1.5em;
}
section1{
  margin-top: 125px;
}
#price,#total{
  margin-left: 10px;
}
.card-image .img{
  height: 230px;
}
#cajaProucto{
  display: flex;
  flex-direction: column;
  margin-top: 160px;
  height: 450px;
  position: inherit;
  box-sizing: border-box;
  justify-content: space-evenly;
}
#cajaPrice p,#information p,#cajaSize p,#cajatotal p{
  margin: 0px 5px; 
}
#cajaPrice,#information,#cajaSize,#cajatotal{
 display: flex;
    align-items: center;
    max-height: 40px;
    width: 100%;
}
.cardContent{
  width: 50%;
}
.cardImg .img{
  width: 100%;
}
.cardImg{
  width: 60%;
}
.cajas{
  width: 50%;
  max-height: 200px;
  display: flex;
  flex-direction: inherit;
}
#contenedor{
  position: absolute;
  width: 100%;
  margin-top: 170px;
  display: flex;
}
body{
  background:#F2F2F2;
}
.datoIndividual{
  background: white;
  margin: 5px 5px 0px;
  padding: 3px;
}
#calProduct{
  display: flex;
  height: 30px;
  align-items: center;
  margin: 5px 0px;
}
#title,.title{
  font-weight: 500;
    display: flex;
    margin: 10px;
    padding: 2px;
    color: goldenrod;
}
.title{
  font-size: 1.2rem;
    color: white;
}
.show{
  display: block;
}
.hide{
  display: none;
}
.añadir{
  width: 40%;
    display: flex;
    justify-content: center;
    padding: 3px;
    margin: 10px auto;
}
.rest, .sum{
  width: 60%;
  padding: 0px;
  margin: 0px;
}
.sumRest input{
    text-align: center;
    margin: 2px;
    border-bottom: 0px;
}
/*.valor{
  width: 30%;
  margin: 0px;
  padding: 0px;
  height: auto;
  text-align: center;
  border-bottom: 0px;

}*/
.sumRest{
    max-height: 40px;
    width: 40%;
    /* padding: 2px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    margin-left: 10px;
}
.sumRest #valor{
  width: 30px;
}
.contDatos{
width: 25%;
    /* right: 8%; */
    /* margin: 0px 15px; */
    text-align: center;
    /* position: absolute; */
    margin-left: 65%;
}
.urls{
  width: 100%;
  height: 100%;
}
.contenedor{
  width: 100%;
}
.visor {
width: 50%;
    height: max-content;
    min-height: 350px;
    height: 400px;
    display: flex;
    box-sizing: border-box;
    margin: 0px 50px;
    position: absolute;
}

#listImg {
    overflow-y: scroll;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  height: 100%;
  cursor: pointer;
}
.imgProduct:hover{
  opacity: 0.7;
}
.imgProduct{
        margin-top: 5px;
    width: 100%;
    height: calc(100% / 3);
}
#cardH .card-stacked .card-content {
    padding: 3px;
    height: 50px;
    text-align: center;
  }
#mainImg img {

  width: 100%;
  justify-content: center;
  display: flex;
  margin-left: 15px;
  height: 100%;
}
#mainImg{
  width: 70%;
}
.main.row{
  margin: 0px;
  width: 65%;
  margin: 3px;
  padding: 3px;
}
.main select{
  display: block;
  border-radius: 2em;
  cursor: pointer;
}
#card-horizontal{
  box-sizing: border-box;
    padding: 1em;
    margin: 1em;
}
.mapouter{
   position: relative;
    text-align: right;
    width: 50%;
    height: 300px;
    position:relative;
    text-align:right;
  }   
.gmap_canvas {
  overflow:hidden;background:none!important;
  width:100%;height:300px;
  }
  .gmap_iframe {
    height:300px!important;
    width: 100%;
  }
#down{
  cursor: pointer;
}
#heder,#heder404{
  position: fixed;
  z-index: 99;
  width: 100%;
}
#heder404{
  height: 60px;
  background: darkgray;
}
#heder404 strong{
  color: white;
}
#cars{
  font-size: 1.5em;
  margin-right: 10px;
}
#card-image{
      width: 50%;
    margin: 10px;
}
#imgMap{
  height: 300px;
    width: 500px;
    margin: 0px auto;
}
#card-stacked{
      width: 50%;
    font-size: 1.2em;
    align-items: center;
    color: brown;
}
#map{
  color: goldenrod;
  padding: 5px;
  margin: 0px;
}
#listDom{
  list-style: circle;
      margin-top: 15px;
      color: black;
}
.imgCarou{
  width: 250px;
  height: 250px;
}
#contMayor{
  display: flex;
  flex-direction: column;
  position: relative;
}
#carousel{
  margin-top: 90px;
}
#headerCard{
      margin: 2px;
    text-align: center;
    font-size: 2em;
}
#cards{
  width: 100%;
}
#footer,#footer404{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
#footer404{
  position: fixed;
  background: darkgray;
  height: 60px;
  display: flex;
  align-items: center;
  bottom: 0px;
  color: white;
  font-weight: 600;
}
#sec404{
      display: flex;
    align-items: center;
    margin: 70px 50px 10px;
    justify-content: space-evenly;
}
#sec404 img{
  width: 50%;
  border-radius: 5rem;
}
#sec404 div{
  width: 30%;
}
#footer span{
  margin: 3px 0px 25px;
}
.is-preload{
  display: flex;
  flex-direction: column;
}
.contHeader{
  display: flex;
  box-sizing: border-box;
  padding: 2px 5px;
  background:white;
}
.logo{
  width: 80%;
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 1.3em;
}
.login{
  width: 60px;
  border-radius: 1.5em;
}
.login404{
  width: 80px;
  border-radius: 1.5em;
}
#footerProduct{
  display: flex;
  justify-content: space-around;
}
#footerProduct span{
    margin-top: 20px;
    font-weight: 600;
  }
.icons{
  width: 40%;
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.iconEmail{
  font-size: 1em;
  margin-right: 10px;
}
#nav{
  width: 100%;
  height: auto;
  background: brown;
}
.contNav{
  color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-height: 110px;
}
.main{
  width: 70%;
  font-size: 1em;
  color: brown;
}
.buscador{
  border: 1px solid rgb(255 255 255 / 70%);
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  max-height: 50px;
  width: 33%;
  border-radius: 20px;
  background: #E1E1E1;
  flex-direction: row;
  margin: 3px;
  padding: 3px;
    
}
.buscador input{
    background: transparent;
    color: #717373;
    font-size: 1rem;
    cursor: pointer;
    align-self: center;
    cursor: text;
    border-bottom:none;
    width: 100%;
    height: 100%;
    border:none;
}
.buscador input[type=text]:focus{
  align-content: center;
  outline: none;
}
.buscador input[type=text]:focus .contInput{
     border:4px solid #7CC0FF;
     border-radius: 20px;
     
}
.contInput{
    box-sizing: border-box;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    position: relative;

}
.textBusc{
  width: 150px;
    font-weight: 700;
}
#iconSearch{
       width: 35px;
    height: 40px;
    background: white;
    border: 0px solid white;
    padding: 0.3em;
    border-radius: 1em 0px 0px 1em;
    color: goldenrod;
}
#list{
  position: absolute;
  background: white;
  box-sizing: border-box;
  padding: 0px;
  margin: 36px 0px 0px 28px;
  width: 92%;
  z-index: 99;
  overflow-y:scroll;
  max-height: 400px;      
}
#list.hide{
  display:none;
}
#list .item{
  display: block;
  padding: 5px;
  float: none;
  width: 100%;
  max-height: 45px;
}

#searchInput{
  width: 100%;
    /* position: absolute; */
    /* right: 0px; */
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: white;
    border-radius: 0px 1em 1em 0px;
    height: 40px;
        
}

#abecedario{
  width: 100%;
  display: flex;
  max-height: 50px;
  justify-content: center;
  color: aliceblue;
  align-items: center;
}
.abc{
  width: 35px;
  font-size: 1.2em;
  border: 1px solid;
  display: inline-block;
  height: 35px;
  contain: content;
  align-self: center;
  border-radius: 1em;
  margin: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;

}
.selectContainer{
  display: block;
}
.icons span, .iconFooter span{
  font-size: 1.5em;
  padding: 6px;
  cursor: pointer;
      color: goldenrod;
}
#Bienvenida span,#times span{
  color: goldenrod;
  font-size: 1.2em;
  margin-right: 4px;
}
#iconMenu{
  display: none;
}
.contNodo{
    width: 80%;
    border-bottom: #ee6e73 5px double;   
}
#catCom{
    width: 300px;
    height: 350px;
    margin: 0px auto;
    border-radius: 1.5em;
}
#cajTotal{
  position: absolute;
    margin-top: 25px;
}
#totales{
      margin-left: 5px;
    } 
.msjShop{
position: absolute;
    left: 0px;
    margin: 5px 0px;
    background: brown;
    width: 100%;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    /* align-self: flex-start; */
    text-align: center;
    justify-content: space-around;
    top: 0px;
    opacity: 0.9;
    height: 60px;
  }
  .msjShop p{
    margin: 2px auto;
  }
  #imgs{
      max-width: 100%;
      cursor: pointer;
  }
  #cols:hover{
        display: block;
    outline: none;
    -moz-box-shadow: 3px 3px 5px #000;
    -webkit-box-shadow: 3px 3px 5px #000;
    box-shadow: 3px 3px 5px #000;
    background-color:goldenrod;
  transition: background-color .5s;
        background-color:goldenrod;
  transition: background-color .5s;
  }
  #imgs img{
    margin: 0px auto;
    max-width: 95%; 
  }
  #cardH{
    display: grid;
    }
  button:hover{
   background: goldenrod;
   cursor: pointer;
  }
@media (min-width: 320px) and (max-width: 900px){
  #contMayor,header,#carouzel,.contUbicacion,footer,#cajaList,#Bienvenida{
    width: 100%;
  }
  #cardH{
    display: grid;
    max-height: 300px;
  }
  #cardH .card-stacked .card-content{
    padding: 3px;
    height: 85px;
  }
  .iconFooter{
    display: none;
  }
  #iconMenu{
    display: block;
    color: white;
    width: 36px;
    height: 36px;
  }
  #ulMenu{
    background: brown;
    box-sizing: border-box;
    color: white;
  }
  .lis{
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 40px;
  }
  #list{
    width: 85%;
    margin:36px 0px 0px 0px;
    width: 95%;
  }
  .liBotton{
    display: flex;
    /* width: 60px; */
    height: 30px;
    margin: 5px 5px 10px;
    padding: 3px;
    width: 100%;
    justify-content: center;
  }
  .liBotton button{
    height: 30px;
    padding: 2px;
    width: 70px;
    font-size: 1.3em;
    align-self: end;
    border-radius: 0.5em;
  }

  #ulMenu a{
    width: 90%;
  }
  #cajaList{
    font-size: 1.1em;
    font-weight: 500;
    text-transform: none;
  }
  .rest,.sum{
    width: 60%;
  }
  #calProduct{
    width:60%;
    margin: 5px auto;
  }
  #calProduct p{
    display: none;
  }
  #Bienvenida{
    font-size: 1rem;
    font-weight: bold;
  }
  .logo{
    width:50%;
    margin-left: 0px;
    margin-right: 20px;
  }
  .title{
    margin: 3px 2px;
  }
  .buscador{
    width:70%;
  }
  .contNav{
    justify-content: space-evenly;
  }
  #abecedario{
    display: none;
  }
  #selectContainer{
    display: none;
  }
  .contUbicacion{
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
  }
  /*#card-horizontal {
      box-sizing: border-box;
      padding: 1em;
      margin: 1em;
      flex-direction: column;
  }*/
  .mapouter {
      width: 80%;
      align-self: center;
  }
  #card-stacked {
      width: 80%;
      font-size: 1.2em;
      color: brown;
      align-self: center;
  }
  .imgCarou {
      width: 90%;
      height: 90%;
  }
  #carousel{
    margin-top: 110px;
    max-height: 260px;
  }
  #footer{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  #footer{
    flex-direction: column-reverse;
        position: fixed;
    bottom: 0px;
  }
  #footerProduct{
    margin-top: 80px;
    text-align: center;
  }
  .msjFooter{
    margin:5px auto 10px;
  }
  .card{
    display: flex;
    flex-direction: column;
  }

  .visor{
 width: 60%;
    margin-top: 35px;
    min-height: 200px;
    height: 250px;
  }
  #mainImg{
    margin: 0px auto;
  }
  .contDatos{
  width: 80%;
  height: fit-content;
  margin: 0px;
  }
  #nameP{
        width: 100%;
    margin-bottom: 260px;
    text-align: center;

  }
  #contenedor{
    margin-top: 155px;
  }
  #cajaProucto{
    margin-top: 135px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;  
  }
  .msjShop{
    position: fixed;
    top: 0px;
    margin-top: 138px;
  }
  .msjShop p{
    display: none;
  }
  #modalTrabajo{
    display: none;
  }
  #cajaImg img {
    height: 70px;
    min-width: 70px;
    margin-left: 0px;
  }
  #cajaImg {
    width: 30%;
    text-align: center;
  }
  #info{
    width: 40%;
    text-align: center;
    width: 40%;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    font-size: 14px;
  }
  .calcCompra{
    width: 30%;
    font-size: 1rem;

  }
  #cajaList .row {
    text-align: center;
    
    margin: 10px auto;
    padding: 5px 5px;
  }
  .sumRest{
    width: 100%;
    min-height: 30px;
    height: 30px;
    margin-left: 5px;
  }
  .añadir{
   width: 50%;
    margin: 10px auto;
    padding: 3px;
    height: 30px;
  }
  .imgProduct{
    margin-top: 3px;
  }
  section1{
  margin-top: 140px;
  }
  #catCom {
    width: 200px;
    height: 250px;
  }
  .sumRest input{
        width: 10%;
  }

}
