@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");

:root{
  --max-width-input:20rem;
}
/*iniciando con estilos personales*/
#contenedor404{
  position: absolute;
}
.contCompras,.contProduct{
  height: 100vh;
}
.footerCompras{
    position: absolute;
    bottom: 0px;
}
.calcCompra{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.times{
  font-size: 1.5rem;
}
#cajaList .row{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
#cajaList{
    overflow-y: scroll;
    max-height: 70vh;
}
#cajaImg img{
  min-width: 220px;
  height: 200px;
  margin-left: 15px;
}
#cajaImg{
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#miCar,#cajTotal,#cajElim{
  display: flex;
  align-items: center;
}
#info,.calcCompra{
  width: 25%;
}
#Bienvenida{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  font-size: 1.5em;
}
section1{
  margin-top: 125px;
}
#price,#total{
  margin-left: 10px;
}
.card-image .img{
  height: 230px;
}
#cajaProucto{
  display: flex;
  flex-direction: column;
  margin-top: 160px;
  height: 450px;
  position: inherit;
  box-sizing: border-box;
  justify-content: space-evenly;
}
#cajaPrice p,#information p,#cajaSize p,#cajatotal p{
  margin: 0px 5px; 
}
#cajaPrice,#information,#cajaSize,#cajatotal{
  display: flex;
  align-items: center;
  max-height: 40px;
}
.cardContent{
  width: 50%;
}
.cardImg .img{
  width: 100%;
}
.cardImg{
  width: 60%;
}
.cajas{
  width: 50%;
  max-height: 200px;
  display: flex;
  flex-direction: inherit;
}
#contenedor{
  position: absolute;
  width: 100%;
  margin-top: 155px;
  display: flex;
}
#card-starcked{

}
body{
  background:#F2F2F2;
}
.datoIndividual{
  background: white;
  margin: 5px 5px 0px;
  padding: 3px;
}
#calProduct{
  display: flex;
  justify-content: space-evenly;
  height: 30px;
  align-items: center;
  margin: 5px 0px;
}
#title,.title{
  font-weight: 500;
    display: flex;
    margin: 10px;
    padding: 2px;
    
}
.title{
  font-size: 1.2rem;
    color: white;
}
.show{
  display: block;
}
.hide{
  display: none;
}
.añadir{
  width: 40%;
    display: flex;
    justify-content: center;
    padding: 3px;
    margin: 10px auto;
}
.rest, .sum{
  width: 30%;
  padding: 0px;
  margin: 0px;
}
.sumRest input{
    text-align: center;
    margin: 2px;
    border-bottom: 0px;
}
/*.valor{
  width: 30%;
  margin: 0px;
  padding: 0px;
  height: auto;
  text-align: center;
  border-bottom: 0px;

}*/
.sumRest{
    height: 100%;
    border: 1px solid;
    width: 40%;
    padding: 2px;
    display: flex;
    align-items: center;}

.contDatos{
  width: 25%;
  position: absolute;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  right: 8%;
  margin: 0px 15px;
  align-items: center;

}
.urls{
  width: 100%;
  height: 100%;
}
.contenedor{
  width: 100%;
}
.visor {
    width: 50%;
    height: max-content;
    min-height: 350px;
    height: 400px;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    left: 6%;
}

/* lista */
#listImg {
    /*width: 30%;
    
    overflow-y: scroll;
    position: relative;*/
    overflow-y: scroll;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  height: 100%;
}
.imgProduct{
    margin-top: 10px auto;
    width: 100%;
    height: calc(100% / 3);
}

#mainImg img {
    /*width: 60%;
    height: 100%;
    margin-left: 15px;*/
    width: 100%;
  justify-content: center;
  display: flex;
  margin-left: 15px;
  height: 100%;
}
#mainImg{
  width: 70%;
}
.main.row{
  margin: 0px;
  width: 65%;
  margin: 3px;
  padding: 3px;
}
.main select{
  display: block;
  border-radius: 2em;
}
#card-horizontal{
  box-sizing: border-box;
    padding: 1em;
    margin: 1em;
}
.mapouter{
   position: relative;
    text-align: right;
    width: 50%;
    height: 300px;
    position:relative;
    text-align:right;
  }   
.gmap_canvas {
  overflow:hidden;background:none!important;
  width:100%;height:300px;
  }
  .gmap_iframe {
    height:300px!important;
    width: 100%;
  }
#down{
  cursor: pointer;
}
#heder,#heder404{
  position: fixed;
  z-index: 99;
  width: 100%;
}
#heder404{
  height: 60px;
  background: darkgray;
}
#heder404 strong{
  color: white;
}
.enlaces,#cars{
  font-size: 1.5em;
  margin-right: 10px;
}
#card-image{
      width: 50%;
    margin: 10px;
}
#imgMap{
  height: 300px;
    width: 500px;
    margin: 0px auto;
}
#card-stacked{
      width: 50%;
    font-size: 1.2em;
    align-items: center;
    color: brown;
}
#map{
  color: brown;
}
#listDom{
  list-style: circle;
      margin-top: 15px;
      color: black;
}
#imgCarou{
  width: 250px;
  height: 250px;
}
#contMayor{
  display: flex;
  flex-direction: column;
  position: relative;
}
#carousel{
  margin-top: 90px;
}
#headerCard{
      margin: 2px;
    text-align: center;
    font-size: 2em;
}
#cards{
  width: 100%;
}
#footer,#footer404{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
#footer404{
  position: fixed;
  background: darkgray;
  height: 60px;
  display: flex;
  align-items: center;
  bottom: 0px;
  color: white;
  font-weight: 600;
}
#sec404{
      display: flex;
    align-items: center;
    margin: 70px 50px 10px;
    justify-content: space-evenly;
}
#sec404 img{
  width: 50%;
  border-radius: 5rem;
}
#sec404 div{
  width: 30%;
}
#footer span{
      /* width: 40%; */
    text-align: right;
    margin: 0px 10px;
}
.is-preload{
  display: flex;
  flex-direction: column;
}
.contHeader{
  display: flex;
  box-sizing: border-box;
  padding: 2px 5px;
  margin: 5px 5px 0px;
  background:white;
}
.logo{
  width: 80%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.login{
  width: 60px;
  border-radius: 1.5em;
}
.login404{
  width: 80px;
  border-radius: 1.5em;
}
.icons{
  width: 20%;
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.iconEmail{
  font-size: 1em;
  margin-right: 10px;
}
#nav{
  width: 100%;
    height: auto;
}
.contNav{
  color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-height: 100px;
}
.main{
  width: 70%;
  font-size: 1.2em;
  color: brown;
}
.buscador{
  border: 1px solid rgb(255 255 255 / 70%);
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  max-height: 50px;
  width: 30%;
  border-radius: 20px;
  background: #E1E1E1;
  flex-direction: row;
  margin: 3px;
  padding: 3px;
    
}
.buscador input{
    background: transparent;
    color: #717373;
    font-size: 1rem;
    cursor: pointer;
    align-self: center;
    cursor: text;
    border-bottom:none;
    width: 100%;
    height: 100%;
    border:none;
}
.buscador input[type=text]:focus{
  align-content: center;
  outline: none;
}
.buscador input[type=text]:focus .contInput{
     border:4px solid #7CC0FF;
     border-radius: 20px;
     
}
.contInput{
    box-sizing: border-box;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    position: relative;

}
.textBusc{
  width: 150px;
    font-weight: 700;
}
#iconSearch{
       width: 35px;
    height: 40px;
    background: white;
    border: 0px solid white;
    padding: 0.3em;
    border-radius: 1em 0px 0px 1em;
}
#list{
      position: absolute;
    background: white;
    box-sizing: border-box;
    padding: 0px;
    margin: 30px 0px 0px 30px;
    width: 94%;
    z-index: 99;      
}
#list.hide{
  display:none;
}
#list .item{
  display: block;
  padding: 5px;
  float: none;
  width: 100%;
  /*text-transform: capitalize;*/
}

/*#searchIcon{
  width: 40px;
    height: 41px;
    background: transparent;
    
    font-size: 1em;
    cursor: pointer;
    
    position: absolute;
    padding: 0px;
    box-shadow: 1px transparent;
    box-sizing: border-box;
    background: white;
    border-radius: 1em 0px 0px 1em;
} */
#searchInput{
  width: 100%;
    /* position: absolute; */
    /* right: 0px; */
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: white;
    border-radius: 0px 1em 1em 0px;
    height: 40px;
        
}

#abecedario{
  width: 100%;
  display: flex;
  max-height: 50px;
  justify-content: center;
  color: aliceblue;
  align-items: center;
}
.abc{
  width: 35px;
  font-size: 1.2em;
  border: 1px solid;
  display: inline-block;
  height: 35px;
  contain: content;
  align-self: center;
  border-radius: 1em;
  margin: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.selectContainer{
  display: block;
}
.iconMenu{
  display: none;
}
.ulMenu{
  display: none;
}
@media (min-width: 320px) and (max-width: 900px){
  #contMayor,header,#carouzel,.contUbicacion,footer,#cajaList,#Bienvenida{
    width: 100%;
  }
  .ulMenu{
    display: block;
  }
  .iconMenu{
    display: block;
  }
  #cajaList{
    text-transform: capitalize;
  }
  .rest,.sum{
    width: 80%;
  }
  #calProduct{
    width: 150px;
  }
  #Bienvenida{
    font-size: 1rem;
  }
  .logo{
    width:70%;
  }
  .buscador{
    width:70%;
  }
  .contNav{
    justify-content: space-evenly;
  }
  #abecedario{
    display: none;
  }
  #selectContainer{
    display: none;
  }
  .contUbicacion{
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
  }
  #card-horizontal {
      box-sizing: border-box;
      padding: 1em;
      margin: 1em;
      flex-direction: column;
  }
  .mapouter {
      width: 80%;
      align-self: center;
  }
  #card-stacked {
      width: 80%;
      font-size: 1.2em;
      color: brown;
      align-self: center;
  }
  #imgCarou {
      width: 90%;
      height: 90%;
  }
  #carousel{
    margin-top: 80px;
    max-height: 300px;
  }
  #footer{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  #footer.footerProduct{
    flex-direction: column-reverse;
        position: fixed;
    bottom: 0px;
  }
  .card{
    display: flex;
    flex-direction: column;
  }
  #imgs{
      max-width: 100%; 
  }
  #imgs .img{
        max-height: 200px;
      width: 100%;
  }
  .visor{
    /* max-height: 300px; */
    width: 60%;
    margin: 0px auto;
    /* display: flex; */
    position: relative;
    left: 0px;
    margin-top: 35px;
    /* height: 150px; */
    min-height: 200px;
    height: 250px;
  }
  #mainImg{
    margin: 0px auto;
  }
  .contDatos{
    width: 70%;
    height: 450px;
    left: 15%;
    align-items: center;
    border: 0px;
  }
  #nameP{
        width: 100%;
    margin-bottom: 260px;
    text-align: center;

  }
  #cajaProucto{
        /* max-height: 450px; */
    margin-top: 115px;
    height: 500px;
    display: flex;
    flex-direction: row;  
  }
  #modalTrabajo{
    display: none;
  }
  #cajaImg img {
    height: 70px;
    min-width: 70px;
    margin-left: 0px;
  }
  #info,#cajaImg {
    width: 30%;
    text-align: center;
  }
  .calcCompra{
    width: 40%;
    font-size: 1rem;
    margin: 0px 5px;
  }
  #cajaList .row {
    text-align: center;
    
    margin: 10px auto;
    padding: 5px 5px;
  }
  #cajaImg{
    width: 35%;
  }
  .sumRest{
    width: 45%;
  }
  .imgProduct{
    margin-top: 3px;
  }

}
