@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");

:root{
  --max-width-input:20rem;
}
/*iniciando con estilos personales*/
.urls{
  width: 100%;
  height: 100%;
}
.visor {
    width: 65%;
    height: max-content;
    border: 1px solid sandybrown;
    min-height: 350px;
    height: 400px;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    top: 240px;
    left: 20px;
}

/* lista */
.visor .list-img {
    width: 30%;
    height: 100%;
    overflow-y: scroll;
    position: relative;
}
.visor .list-img .img{
    margin: 10px auto;
    width: 100%;
    height: calc(100% / 3);
    max-height: 9rem;
}

.visor .main-img {
    width: 70%;
    height: 100%;
    margin-left: 15px;
}
.main.row{
  margin: 0px;
  width: 65%;
}
.main select{
  display: block;
}
#card-horizontal{
  box-sizing: border-box;
    padding: 1em;
    margin: 1em;
}
.mapouter{
   position: relative;
    text-align: right;
    width: 50%;
    height: 300px;
    position:relative;
    text-align:right;
  }   
.gmap_canvas {
  overflow:hidden;background:none!important;
  width:100%;height:300px;
  }
  .gmap_iframe {
    height:300px!important;
    width: 100%;
  }
#imgProduct{
  
}
#down{
  cursor: pointer;
}
#heder{
  position: fixed;
  z-index: 99;
}
.iconFooter{

}
#enlaces{
  font-size: 1.5em;
  margin-right: 10px;
}
#card-image{
      width: 50%;
    margin: 10px;
}
#imgMap{
  height: 300px;
    width: 500px;
    margin: 0px auto;
}
#card-stacked{
      width: 50%;
    font-size: 1.2em;
    align-items: center;
    color: brown;
}
#map{
  color: brown;
}
#listDom{
  list-style: circle;
      margin-top: 15px;
      color: black;
}
#imgCarou{
  width: 250px;
  height: 250px;
}
#contMayor{
  display: flex;
  flex-direction: column;
  position: relative;
}
#carousel{
  top: 200px;
    position: absolute;
}
#headerCard{
      margin: 2px;
    text-align: center;
    font-size: 2em;
}
#cards{
      position: absolute;
    top: 600px;
    width: 100%;
}
#footer{
  position: absolute;
    top: 1000px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
#footer span{
      /* width: 40%; */
    text-align: right;
    margin: 0px 10px;
}
.is-preload{
  display: flex;
  flex-direction: column;
}
.contHeader{
   display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    margin: 10px 10px 0px;
    align-items: center;
}
.logo{
      width: 80%;
}

.login{
  width: 12%;
    border-radius: 1.5em;
}
.icons{
       width: 20%;
    display: flex;
    align-items: flex-start;
}
.iconEmail{
  font-size: 1em;
  margin-right: 10px;
}
#nav{
  width: 100%;
    height: auto;
}
.contNav{
  color: black;
      width: 100%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    box-sizing: border-box;
}
.main{
  width: 70%;
  font-size: 1.2em;
  color: brown;
}
.buscador{
      border: 1px solid rgb(255 255 255 / 70%);
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    /* min-width: 320px; */
    /* max-width: 1000px; */
    height: 50px;
    width: 30%;
    padding: 5px 16px;
    border-radius: 20px;
    margin: 10px 0px;
    background: #E1E1E1;
    flex-direction: row;
    
}
.buscador input{
    background: transparent;
    color: #717373;
    font-size: 1rem;
    cursor: pointer;
    align-self: center;
    cursor: text;
    border-bottom:none;
    width: 100%;
    height: 100%;
    border:none;
}
.buscador input[type=text]:focus{
  align-content: center;
  outline: none;
}
.buscador input[type=text]:focus .contInput{
     border:4px solid #7CC0FF;
     border-radius: 20px;
     
}
.contInput{
    box-sizing: border-box;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    position: relative;

}
.textBusc{
  width: 150px;
    font-weight: 700;
}
#iconSearch{
       width: 35px;
    height: 40px;
    background: white;
    border: 0px solid white;
    padding: 0.3em;
    border-radius: 1em 0px 0px 1em;
}
#list{
      position: absolute;
    background: white;
    box-sizing: border-box;
    padding: 0px;
    margin: 30px 0px 0px 30px;
    width: 94%;
    z-index: 99;      
}
#list.hide{
  display:none;
}
#list .item{
  display: block;
  padding: 5px;
  float: none;
  width: 100%;
  /*text-transform: capitalize;*/
}

/*#searchIcon{
  width: 40px;
    height: 41px;
    background: transparent;
    
    font-size: 1em;
    cursor: pointer;
    
    position: absolute;
    padding: 0px;
    box-shadow: 1px transparent;
    box-sizing: border-box;
    background: white;
    border-radius: 1em 0px 0px 1em;
} */
#searchInput{
  width: 100%;
    /* position: absolute; */
    /* right: 0px; */
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: white;
    border-radius: 0px 1em 1em 0px;
    height: 40px;
        
}

#abecedario{
  width: 100%;
    display: flex;
    height: 50px;
    justify-content: center;
        color: aliceblue;
}
.abc{
     width: 35px;
    font-size: 1.2em;
    border: 1px solid;
    display: inline-block;
    height: 40px;
    contain: content;
}

